extends layout

block header
  meta(name="description" content="Le site officiel du groupe Mashup Martial Project")
  meta(name="keywords" content="mashup, martial, project, mashupmartial, mashupmartialproject, Arthur, Antonin, Delorme, art, martiaux, vietnam, vietnamien, artsmartiauxvietnamiens, amv, Centre, Thieu, Lam, sport, cascade, danse, artistique, martialproject")
  meta(name="author" content="Alexandre Sabathier")
  meta(name="Rating" content="general")
  meta(name="Distribution" content="global")
  meta(name="Category" content="sports")
  meta(name="robots" content="index")
  meta(name="google-site-verification" content="Cq72czNZOOVELDRyqHhlbSu5_rBRkAMEhYt-m9CTJJY")
  
block content
  .img#mainimg(data-0="background-size: 100% auto;" data-300="background-size: 120% auto; position: fixed; top:0;")
  .navbar#navbar
    a.nav-button.left.pointer(onClick="Scroll(startpage)")
      img.logo#logo(src="/images/logo2.png")
    .nav2
      a.nav-button.pointer(onClick="Scroll(Pres)") Présentation 
      a.nav-button.pointer(onClick="Scroll(Histoire)") Notre histoire 
      a.nav-button.pointer(onClick="Scroll(Experiences)") Expériences  
      a.nav-button.pointer(onClick="Scroll(Video)") Vidéo
      a.nav-button.pointer(onClick="Scroll(Galerie)") Galerie 
      a.nav-button.pointer(onClick="Scroll(Contact)") Contact
  .screen#startpage
    .title.uppercase The Mashup Martial Project
    .useless
      img.logo2(src="/images/logo2b.png")
  .block
    .blocktext
      img.img1(src="/images/8.2.jpg")
      .subtitle#Pres Présentation
      .text
        |Le Mashup Martial Project consiste à la recherche, la création, 
        |la diffusion et la présentation de chorégraphies d’arts martiaux artistiques.
        |Cette vision artistique des arts martiaux mélange une forme gestuelle des arts 
        |martiaux traditionnels vietnamiens, chorégraphiée avec des méthodes de danse et transcrit dans des univers différents.<br><br>
        |L’objectif de ce projet est multiple. D’une part, le projet propose 
        |une nouvelle forme d’expression au croisement de plusieurs arts et d’autre 
        |part il vise le partage et la transmission de cette nouvelle forme pour 
        |que chacun puisse se l’approprier et s’exprimer à travers elle.  Dans ce but 
        |de partage, le Mashup Martial Project a construit également  une branche 
        |associative pour pouvoir proposer une initiation et une formation à cette
        | nouvelle forme d’expression qui s’ajoute à la diffusion du projet sur internet.
      .subtitle#Histoire Notre histoire
      .text
        img.img2(src="/images/4.2.png")
        |Comment est apparue cette idée de créer une nouvelle forme d’art martiaux artistiques ?
        |<br><br>A l’origine, le Mashup Martial Project a été créée sous l’impulsion
        | de deux frères, Antonin et Arthur Delorme, pratiquants d’arts martiaux 
        |vietnamiens, soucieux de faire évoluer leur discipline vers des fins plus
        | artistiques, encore peu développées de nos jours. Ils voulaient ainsi
        | proposer une évolution différente de leur arts, qui laisse place à une
        | plus grande liberté, une plus grande créativité et une plus grande
        | association avec d’autres activités artistiques. 
        |<br> Ils ont ainsi rassemblé autour d’eux des amis et avec eux ils ont pu 
        |débuter le projet  par la création de chorégraphies, qui étaient par 
        |la suite filmées et montées en courtes vidéos. Toutefois, soucieux de
        | structurer leur action et de la partager avec d’autres, ils ont poursuivi
        | leur action ajoutant une partie associative au projet.
      .subtitle#Experiences Expériences
      .row
        img.img3(src="/images/12.2.jpg")
        .col-lg-6.text.center(style="padding-right:80px;padding-left:60px;")
          .sub Compétition
          strong Antonin Delorme
          |<br> <br>Champion de France d’arts martiaux  vietnamiens  2016, 2017, 2018
          strong <br> <br><br><br>Arthur Delorme
          |<br> <br>Champion de France  d’arts martiaux vietnamiens 2014, 2015, 2017, 2018
          |<br><br>Membre de l’équipe de France 2014
          |<br>Médaillé d’argent et de bronze aux internationaux d’Ho Chi Minh
        .col-lg-6.text.center(style="padding-right:60px;padding-left:80px;")
          .sub(style="padding-bottom:40px;") Démonstration
            .description En tant que membre d’autres associations
          |Nuit du Shaolin, 2013-2016 <br>le plus grand spectacle d’arts martiaux du grand sud ouest
          |<br> <br>Galeries Lafayette de Toulouse, 2015-2018
          |<br> <br>Parc des exposition de Toulouse, 2016<br>fête de la caisse d’épargne Midi-Pyrénées 
          |<br> <br>Arbre de Noel, 2016<br>Thales de Toulouse
          |<br> <br>Démonstrations au forum des associations<br>Brax, Blagnac, Pibrac, Aussonne
      .subtitle#Video Vidéo
      .video-container
        iframe(class="center-me" width="80%" src="https://www.youtube.com/embed/GVDL6R74lUk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

      .subtitle#Galerie Galerie
      .row
        .taille3.img-card
          img(id="1" class="img-thumbnail pointer" onclick="openModal();currentSlide(1)" src="/images/1.png")
        .img-card.taille3
          img(id="2" class="img-thumbnail pointer" onclick="openModal();currentSlide(2)" src="/images/2.png")
        .img-card.taille3
          img(id="3" class="img-thumbnail pointer" onclick="openModal();currentSlide(3)" src="/images/3.png")
        .img-card.taille3
          img(id="4" class="img-thumbnail pointer" onclick="openModal();currentSlide(4)" src="/images/4.png")
        .img-card.taille3
          img(id="5" class="img-thumbnail pointer" onclick="openModal();currentSlide(5)" src="/images/5.png")
        .img-card.taille3
          img(id="6" class="img-thumbnail pointer" onclick="openModal();currentSlide(6)" src="/images/6.png")
        .img-card.taille3
          img(id="7" class="img-thumbnail pointer" onclick="openModal();currentSlide(7)" src="/images/7.jpg")
        .img-card.taille3
          img(id="8" class="img-thumbnail pointer" onclick="openModal();currentSlide(8)" src="/images/8.jpg")
        .img-card.taille3
          img(id="9" class="img-thumbnail pointer" onclick="openModal();currentSlide(9)" src="/images/9.jpg")
      .row
        form(action="/gallery" method="get")
          input.img-button.pointer(type="submit" value="Voir toutes les photos")

      .subtitle#Contact Contact
      .text(style="text-align: center;") Mail : mashupmartial.project@gmail.com
        |<br><br>Tel : +33 6 42 81 30 50
        .row(style="justify-content: space-evenly;padding-top:50px;")
          a.dot.blue.pointer(href="https://www.facebook.com/Mashup-Martial-Project-2665258763699727/" target="_blank")
            img(src="/images/fb.png")
            .a Mashup Martial Project
          a.dot.red.pointer(href="https://www.youtube.com/channel/UCKethVV1nexScXsiSDa-avw" target="_blank")
            img(src="/images/youtube.png")
            .a Mashup Martial Project
          a.dot.pink.pointer(href="https://www.instagram.com/mashup_martial_project/" target="_blank")
            img(src="/images/insta.png")
            .a @Mashup Martial Project
            
  div(id="myModal" class="modal")
    .background
    span(class="close cursor" onclick="closeModal()") &times;
    div(class="modal-content")

      div(class="mySlides")
        div(class="numbertext")
        img(id="imageid" src="/images/1.png" style="width:100%")
    
    a(class="prev" onclick="plusSlides(-1)") &#10094;
    a(class="next" onclick="plusSlides(1)") &#10095;

block scripts
  script(src="/js/scroll.js")
