doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Mashup Martial Project
    block header
  body
    .navbar
      a.nav-button Présentation
      a.nav-button Button 2
      a.nav-button Button 3
      a.nav-button Button 4
      
    block content
    
    script(src='/js/popper.min.js')
    script(src='/js/jquery-3.3.1.min.js')
    script(src='/js/index.js')
    block scripts
