doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?9ukd8d")
    title Mashup Martial Project
    block header
  body
    block content
    script(src='/js/popper.min.js')
    script(src='/js/jquery-3.3.1.min.js')
    script(src="/js/modal.js")
    script(src="/js/skrollr.js")
    block scripts
